strudel/
config/local.json
.DS_Store
.env
server/static/
server/.venv/
server/.env/
samples/
speech_samples/
server/mic_samples/
__pycache__/
examples/evolve/output/*
!examples/evolve/output/goldberg_imbue_fb0bde27/
!examples/evolve/output/goldberg_imbue_v2_ada2a552/
!examples/evolve/output/goldberg_imbue_v3_ada2a552/
