anthropic
fastapi
uvicorn[standard]
google-cloud-firestore
google-cloud-speech
google-cloud-texttospeech
flask[async]
freesound-api
pydub
audioop-lts; python_version >= "3.13"
termcolor
requests
gunicorn
typer[all]
